Source: ros-r2b2-urdfdom-headers
Section: misc
Priority: extra
Maintainer: Steven! Ragnarök <steven@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libtinyxml-dev, ros-r2b2-console-bridge, ros-r2b2-ros-workspace
Homepage: http://ros.org/wiki/urdf
Standards-Version: 3.9.2

Package: ros-r2b2-urdfdom-headers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml-dev, ros-r2b2-console-bridge, ros-r2b2-ros-workspace
Description: C++ headers for URDF.
